.env
agent.log
subgraph.ttl
subgraph_complex.ttl
venv/
.DS_Store/
.idea/
.ipynb_checkpoints/
__pycache__/

# exlucde from formal submission
#test_function/
#test_script/
#update_note/
#useful_code/
#useful_link/